In [1]:
# Import dependencies for ML mockup
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# Import Dependencies for Database
from config import password
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import psycopg2
import pandas as pd

In [3]:
db_string = f"postgresql+psycopg2://postgres:" + password + "@127.0.0.1:5432/the_cheesery"

In [4]:
engine = create_engine(db_string)

In [5]:
inspector = inspect(engine)

In [6]:
inspector.get_table_names()

['cheese']

In [7]:
session = Session(engine)

In [8]:
engine.execute("SELECT * from cheese")

In [9]:
col_names_list = []

#i = 0
for i in range(len(inspector.get_columns('cheese'))):
    col_names_list.append(inspector.get_columns('cheese')[i]['name'])
    
print(col_names_list)

['cheese', 'company', 'city', 'price', 'milk', 'country', 'origin', 'classification', 'texture', 'color', 'flavor', 'vegetarian']

In [10]:
# create a df from database 
cheese_data_df = pd.DataFrame(columns = col_names_list)

In [11]:
# add in data
import sys
db = engine.execute("SELECT * from cheese")
for record in db:
    record_series = pd.Series(list(record), index = cheese_data_df.columns)
    
    cheese_data_df = cheese_data_df.append(record_series, ignore_index=True)

In [12]:
# review df
cheese_data_df

,cheese,company,city,price,milk,country,origin,classification,texture,color,flavor,vegetarian
0,crescenza,mozzarella company,dallas,9.39,cow,italy,italian,fresh soft,creamy,white,sweet,yes
1,smoked scamorza,mozzarella company,dallas,15.59,cow,italy,pasta filata,semi soft,firm,white,smokey,no
2,smoked mozzarella,mozzarella company,dallas,10.79,cow,italy,mozzarella,semi soft,bouncy,white,smokey,yes
3,queso oaxaca,mozzarella company,dallas,11.99,cow,mexico,pasta filata,semi hard,bouncy,white,buttery,yes
4,queso fresco,mozzarella company,dallas,10.79,cow,mexico,cottage,fresh soft,crumbly,white,milky,yes
...,...,...,...,...,...,...,...,...,...,...,...,...
98,feta,brazos valley cheese,waco,15,cow,greece,feta,soft brined,crumbly,white,tangy,no
99,marinated feta,brazos valley cheese,waco,14,cow,greece,feta,soft brined,crumbly,white,herby,no
100,marinated labneh,brazos valley cheese,waco,14,cow,middle east,labneh,soft,creamy,white,herby,no
101,mountain maple brie,brazos valley cheese,waco,22.5,cow,united states,brie,soft,creamy,cream,sweet,no
102,orchard blue,brazos valley cheese,waco,16.5,cow,united states,blue,semi soft,creamy,pale yellow,tangy,no

In [13]:
# make a copy of df just in case
cheese_data_df_2 = cheese_data_df

In [14]:
cheese_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cheese          103 non-null    object
 1   company         102 non-null    object
 2   city            102 non-null    object
 3   price           102 non-null    object
 4   milk            103 non-null    object
 5   country         103 non-null    object
 6   origin          103 non-null    object
 7   classification  103 non-null    object
 8   texture         103 non-null    object
 9   color           103 non-null    object
 10  flavor          103 non-null    object
 11  vegetarian      102 non-null    object
dtypes: object(12)
memory usage: 9.8+ KB